---
---

@import "{{ site.theme }}";
.topnav {
  display: flex;
  flex-direction: row;
  justify-content: center;

  a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

    &:hover {
      color: #ffcc00;
    }
  }
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;

  --img-width: 300px;
}

.gallery div {
  flex: 0 0 var(--img-width);
  margin: 10px;

  display: flex;
  flex-direction: column;
}
.gallery div img {
  width: var(--img-width);
  height: auto;
  margin: auto 0;

  cursor: zoom-in;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: 1000;
}
.lightbox:not(.is-active) {
  display: none;
}
.lightbox::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;

  background: rgba(17, 17, 17, 0.8);

  cursor: zoom-out;
}
.lightbox .lightbox-image {
  position: fixed;
  --margin: 30px;
  top: var(--margin);
  left: var(--margin);
  width: calc(100% - (var(--margin) * 2));
  height: calc(100% - (var(--margin) * 2));

  background-image: var(--image-src);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.lightbox .lightbox-close {
  position: fixed;
  right: 15px;
  top: 10px;

  cursor: pointer;
}
